header{
    background-color: #242a36;
    padding: 20px 0;
}
.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 125px;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /* Espaçãmento para os textos do menu, 1 - Para cima 2 - Para baixo 3 - Para direita 4 - Para esquerda*/
    
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold; /* Negrito - Peso da fonte*/
    font-size: 22px;
    text-decoration: none; /* Tira o sublinhado dos textos com link*/
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*Espaçamento interno*/
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /*Margem interna de 0 para cima e baixo e 1.5% para os lados*/
    padding: 30px 20px; /*Espaçamento interno*/
    box-sizing: border-box; /*Define o width como permanente e as alterações seguintes são feitas dentro dele*/
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-desc{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px; /*Afasta o preço da descrição*/
}