body {
    background-color: rgb(107, 2, 206);
}

header{
    background-color: #242a36;
    padding: 20px 0;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 125px;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /* Espaçãmento para os textos do menu, 1 - Para cima 2 - Para baixo 3 - Para direita 4 - Para esquerda*/
    
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold; /* Negrito - Peso da fonte*/
    font-size: 22px;
    text-decoration: none; /* Tira o sublinhado dos textos com link*/
}

nav a:hover{ /*Mapeando comportamento hover no a da parte de navegação, Faz com que quando o mouse esteja em cima disso o estilo mude a cor para roxo e sublinhado*/
    color: rgb(107, 2, 206);
    text-decoration: underline;

}


.principal{
    background-color: #242a36;
    padding: 30px;
}

#banner {
    width: 100%;
}

.titulo-principal{
    padding-left: 20px;
    color: white;
}
.titulo-centralizado{
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: yellow;
}

#missao  { /*Id utilizado para demarcar um Paragrafo(P) especifico */
    font-size: 20px;
}

h3{
    font-size: 32px;
}
.listB{
    color: yellow;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 30px;
}

em strong{
    color: white;
}

.itens{
    font-style: italic;
}


.beneficios{
    background: rgb(107, 2, 206);
    padding: 20px;
}

.imagemBeneficios{
    width: 50%;
}
